.dark-mode-toggle {
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.dark-mode-toggle > .toggle {
  --height: 24px;
  height: var(--height);
  width: calc(var(--height) * 2);
  background-color: var(--clr-gray-500);
  border: unset;
  border-radius: var(--height);
  cursor: pointer;
  transition: background-color 0.1s linear;
  position: relative;
  outline: none;
}

.dark-mode-toggle > .toggle:where(:hover, :focus-visible) {
  background-color: var(--clr-gray-400);
}

.dark-mode-toggle > .toggle::before {
  --height: 0.75rem;
  content: "";
  position: absolute;
  left: 0.375rem;
  top: 0.375rem;
  aspect-ratio: 1;
  height: var(--height);
  background-color: white;
  border-radius: var(--height);
  transform: translateX(22px);
  transition: transform 0.1s linear;
}

.dark-mode-toggle > .toggle:is([data-checked="true"])::before {
  transform: translateX(0);
}

.dark-mode-toggle > .icon {
  color: var(--clr-gray-500);
  transition: color 0.1s linear;
}

.dark-mode-toggle > .icon[data-checked="true"] {
  color: white;
}
