.document-entry {
  font-family: var(--ff-sans);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 16px;
  outline: none;
  color: white;
  text-decoration: none;
}

.document-entry:where(:hover, :focus-visible) {
  color: var(--clr-primary-400);
}

.document-entry > .icon {
  grid-row: 1 / 3;
  align-self: center;
}

.document-entry > .date {
  color: var(--clr-gray-400);
  font-size: var(--fs-tiny);
  font-weight: var(--fw-light);
  display: block;
}

.document-entry > .title {
  font-size: var(--fs-h6);
}
