body {
  font: var(--fw-regular) var(--fs-body) / var(--lh-body) var(--ff-serif);
  color: var(--clr-gray-400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--lg-heading);
  margin-block: 0 1.25rem;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-gray-600);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--clr-gray-600);
  font-weight: var(--fw-light);
}

h3 {
  font-size: var(--fs-h3);
  color: var(--clr-gray-600);
}

h4 {
  font-size: var(--fs-h4);
  color: var(--clr-gray-600);
}

h5 {
  font-size: var(--fs-h5);
  color: var(--clr-gray-600);
}

h6 {
  font-size: var(--fs-h6);
  color: var(--clr-primary-400);
}

p {
  margin-block: 0 1.25rem;
}

blockquote {
  background-color: var(--clr-gray-100);
  border-left: 4px solid var(--clr-primary-400);
  border-radius: 4px;
  font-weight: var(--fw-bold);
  color: var(--clr-gray-600);
  padding: 1.5rem 2rem 1.5rem 1.5rem;
  margin-bottom: 1.25rem;
}

blockquote > p {
  margin-bottom: unset;
}

ul,
ol {
  margin-block: 0 1.25rem;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

ul li::marker {
  color: var(--clr-primary-400);
}

pre {
  background-color: var(--clr-gray-100);
  border-radius: 4px;
  padding: 1.5rem;
  margin-bottom: 1.25rem;
}

code {
  color: var(--clr-gray-600);
  font-family: var(--ff-mono);
}

a {
  transition: color 0.1s linear;
  outline: none;
}

a:where(:hover, :focus-visible) {
  color: var(--clr-primary-400);
}
