.input {
  height: 3.5rem;
  padding-inline: 1rem;
  border-radius: 0.625rem;
  font-weight: 700;
  border: unset;
  background-color: var(--clr-gray-200);
  color: var(--clr-gray-600);
  appearance: textfield;
}

.input:focus-visible {
  outline: 2px solid var(--clr-orange-300);
  outline-offset: 2px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  appearance: none;
  margin: unset;
}
