---
export interface Props {
  className?: string;
  alt: string;
  image: string;
  title: string;
}

const { className, title, alt, image } = Astro.props;
---

<article class="text-center flex-1">
  <figure
    class:list={[
      "relative w-max mx-auto before:absolute before:inset-0 before:bg-[url(./images/bg-pattern-small-circle.svg)] before:bg-no-repeat before:bg-center",
      className,
    ]}
  >
    <img src={image} alt={alt} width="202" height="202" class="relative" />
  </figure>
  <h2 class="text-md uppercase mt-12 mb-8">{title}</h2>
  <p>
    <slot />
  </p>
</article>
