---
export interface Props {
  className: string;
  href: string;
}

const { className, href } = Astro.props;
---

<a
  href={href}
  class:list={[
    "flex flex-col py-28 bg-no-repeat relative before:absolute before:inset-0 before:bg-gray-900/50 hover:before:bg-peach/70 overflow-hidden bg-cover bg-center items-center justify-center rounded-lg text-white uppercase before:z-[-1] isolate",
    className,
  ]}
>
  <span class="text-lg mb-6">
    <slot />
  </span>
  <span class="text-sm font-medium flex items-center gap-x-4">
    View projects
    <svg width="7" height="10" class="text-peach" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <path d="M1 1l4 4-4 4" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd"></path>
    </svg>
  </span>
</a>
