---
import ContactCard from "./contact-card.astro";
---

<ContactCard />

<footer>
  <div>
    <div>
      <img src="" alt="" />

      <nav>
        <ul class="flex gap-x-10">
          <li><a class="uppercase text-xs hover:underline" href="/our-company">Our Company</a></li>
          <li><a class="uppercase text-xs hover:underline" href="/locations">Locations</a></li>
          <li><a class="uppercase text-xs hover:underline" href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>

    <div>
      <section>
        <h4>Designo Central Office</h4>
        <p>3886 Wellington Street</p>
        <p>Toronto, Ontario M9C 3J5</p>
      </section>

      <section>
        <h4>Contact Us (Central Office)</h4>
        <p><a href="tel:+12538638967">P : +1 253-863-8967</a></p>
        <p><a href="mailto:contact@designo.co">M : contact@designo.co</a></p>
      </section>

      <section>
        <ul>
          <li>
            <a href="#" title="Follow us on Facebook">
              <img src="./graphics/icon-facebook.svg" alt="facebook" width="24" height="24" /></a
            >
          </li>
          <li>
            <a href="#" title="Follow us on YouTube">
              <img src="./graphics/icon-youtube.svg" alt="youtube" width="24" height="24" /></a
            >
          </li>
          <li>
            <a href="#" title="Follow us on Twitter">
              <img src="./graphics/icon-twitter.svg" alt="twitter" width="24" height="24" /></a
            >
          </li>
          <li>
            <a href="#" title="Follow us on Pinterest">
              <img src="./graphics/icon-pinterest.svg" alt="pinterest" width="24" height="24" /></a
            >
          </li>
          <li>
            <a href="#" title="Follow us on Instagram">
              <img src="./graphics/icon-instagram.svg" alt="instagram" width="24" height="24" /></a
            >
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
