<header class="max-w-container px-2 mx-auto flex items-center justify-between relative">
  <a
    href="#content"
    class="absolute inline-flex items-center bg-peach text-white hover:bg-peach-300 focus:bg-peach-300 rounded-b-lg h-10 px-5 top-0 left-1/2 -translate-x-1/2 -translate-y-full focus:translate-y-0 transition-transform"
    >Skip to content</a
  >

  <a href="/" aria-label="home" class="block my-16">
    <img src="/graphics/logo-dark.png" alt="" width="404" height="54" aria-hidden="true" class="w-[196px]" />
  </a>

  <nav>
    <ul class="flex gap-x-10">
      <li><a class="uppercase text-xs hover:underline" href="/our-company">Our Company</a></li>
      <li><a class="uppercase text-xs hover:underline" href="/locations">Locations</a></li>
      <li><a class="uppercase text-xs hover:underline" href="/contact">Contact</a></li>
    </ul>
  </nav>
</header>
