.container {
  max-width: 1110px;
  margin-inline: auto;
  padding-inline: 24px;
  box-sizing: content-box;

  @media (min-width: $bp-mobile) {
    padding-inline: 39px;
  }
}

.lead {
  font-size: $fs-body2;
  line-height: $lh-body2;

  @media (min-width: $bp-mobile) {
    font-size: 18px;
    line-height: 28px;
  }

  @media (min-width: $bp-tablet) {
    font-size: $fs-body1;
    line-height: $lh-body1;
  }
}

.w-2\/3 {
  @media (min-width: $bp-mobile) {
    width: 78%;
  }
}
