.container {
  max-width: 69.375rem;
  margin-inline: auto;
  padding-inline: var(--gap, 1.5em);
  box-sizing: content-box;

  @media (min-width: $bp-mobile) {
    --gap: 2.5em;
  }
}

.lead {
  font-size: var(--font-size, 1rem);
  line-height: var(--line-height, 1.6);

  @media (min-width: $bp-mobile) and (max-width: $bp-tablet) {
    --font-size: 1.125rem;
  }

  @media (min-width: $bp-tablet) {
    --font-size: 1.25rem;
    --line-height: 1.7;
  }
}

.w-2\/3 {
  @media (min-width: $bp-mobile) {
    width: 78%;
  }
}
