// COLORS
$color-cyan: hsl(177 68% 64%);
$color-red: hsl(12 94% 65%);
$color-yellow: hsl(33 100% 70%);
$color-gray: hsl(20 33% 98%);
$color-black: hsl(244 23% 12%);

// TYPOGRAPHY
$ff-sans: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
  "Helvetica Neue", sans-serif;

// BREAKPOINTS
$bp-mobile: 40.625rem;
$bp-tablet: 60.5rem;
