:root {
  color-scheme: light dark;
}

body {
  font-family: var(--font-family);
  font-size: clamp(15px, 3vw, 18px);
  color: var(--text-color);
  line-height: 1.4;
  background-color: var(--background-color);
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.ff-sans {
  font-family: var(--ff-sans);
}

.ff-serif {
  font-family: var(--ff-serif);
}

.ff-mono {
  font-family: var(--ff-mono);
}
