.h1 {
  font-size: clamp(40px, 4vw + 1rem, 56px);
}

.h2 {
  font-size: 20px;
}

.h3 {
  font-size: 18px;
}

.container {
  max-width: 71.25rem;
  margin-inline: auto;
  padding-inline: 1rem;
}

.skip-to-content {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 0.5rem 1rem;

  translate: -50% -105%;
  transition: background-color 0.1s linear, translate 0.15s ease-out;

  background-color: hsl(var(--clr-dark-blue));
  color: hsl(var(--clr-white));
}

.skip-to-content:focus {
  translate: -50% 0;
  outline: 2px solid hsl(var(--clr-dark-blue));
  outline-offset: 2px;
}

.skip-to-content:hover {
  background-color: hsl(var(--clr-red));
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding-inline: 2rem;

  background-color: hsl(var(--clr-red));
  color: hsl(var(--clr-white));

  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 4px;

  transition: background-color 0.1s linear;
}

.button:where(:hover, :focus-visible) {
  background-color: hsl(var(--clr-dark-blue));
}

.button:focus-visible {
  outline: 2px solid hsl(var(--clr-dark-blue));
  outline-offset: 2px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;

  border-width: 0;

  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  pointer-events: none;
}
