@use "vars/breakpoints";

.faq-card {
  display: flex;
  background-color: white;
  max-width: 57.5rem;
  box-shadow: 0 3.125rem 3.125rem -1.25rem hsla(260, 74%, 27%, 0.5);
  border-radius: 1.4375rem;

  @media (min-width: breakpoints.$default) {
    height: 31.25rem;
    width: min(100%, calc(100% - 6rem));
    gap: 0 1rem;
  }

  @media (max-width: breakpoints.$default) {
    flex-direction: column;
    width: min(100%, calc(100% - 3rem));
    max-height: 33.4375rem;
  }

  > * {
    flex: 1;
    flex-basis: 50%;
  }

  > .content {
    overflow-y: auto;

    @media (min-width: breakpoints.$default) {
      padding: 4.0625rem 5.9375rem 4.0625rem 0;
    }

    @media (max-width: breakpoints.$default) {
      padding: 1.5rem;
    }

    > .title {
      margin-bottom: 1.5rem;
    }
  }
}
