*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

body {
  margin: unset;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

figure {
  margin: unset;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

h1 {
  margin: unset;
}
