.button {
  position: relative;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.popover {
  z-index: 10;
}

.panel {
  position: absolute;
  top: 100%;
  min-height: 16rem;
  max-height: 25rem;
  background-color: var(--clr-white);
  box-shadow: 0 1.25rem 3.125rem -1.25rem hsla(220, 13%, 13%, 0.5);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

@media (width > 37.5rem) {
  .panel {
    right: -2rem;
    width: 22.5rem;
    right: 0;
    top: calc(100% - 1rem);
  }
}

@media (width < 37.5rem) {
  .panel {
    left: -0.5rem;
    right: -0.5rem;
    top: calc(100% + 0.5rem);
  }
}

.header {
  border-bottom: 1px solid var(--clr-gray-300);
  padding: 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--clr-white);
}

.empty {
  font-weight: 700;
  flex: 1;
  display: grid;
  place-items: center;
}

.content {
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

.checkout {
  width: 100%;
}
