$divider: hsl(240, 5%, 91%);
$text: hsl(240, 6%, 50%);
$title: hsl(237, 12%, 33%);
$h1: hsl(238, 29%, 16%);
$accent: hsl(14, 88%, 65%);
$gradient-start: hsl(273, 75%, 66%);
$gradient-end: hsl(240, 73%, 65%);
